.login{
    background-image: url('/login.jpg');
     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
  }
  .loginform{
    
      margin-top:10%;
      margin-left: 30%;
      width:400px;
      background-color: #eee;
  }